<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
</head>
  <body>


<h1>Welcome</h1>

<a href="/signup">Click here to sign up</a> - <a href="/login">or here to login in</a>















  </body>
</html>
