<!DOCTYPE html>
<html>
<head>
  <title>

  </title>
</head>
<body>

<h1>Sign up</h1>
<p>Already have an account Click <a href="/login">Here to login</a></p>

<form action="/signup" method="post">
  <input type="text" placeholder="Name" name="full_name"><br>
  <input type="email" placeholder="Email" name="email"><br>
  <input type="password" placeholder="Create a password" name="password"><br>
  <input type="submit" value="sign up">

</form>










</body>
</html>
